# Ortam
venv/
__pycache__/

# Editor config
.vscode/
.idea/

# Python derleme dosyaları
*.pyc
*.pyo
*.pyd
*.log

# Gizli dosyalar
.env

# Yanıt dosyaları
responses/
data/malicious_ips.txt
data/not_found_ips.txt
